.units {
  font-size: 16px;
  color: black;
  position: relative;
  top: -20px;
}
.units a {
  color: rgb(35, 35, 250);
  font-weight: 800;
  text-decoration: none;
  background-color: transparent;
}
.units a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.units .active {
  color: rgb(24, 22, 22);
}
.units .active:hover {
  text-decoration: none;
  cursor: default;
}
.col-li {
  color: #2a2a2b;
  font-weight: 600;
}
#temp {
  display: inline-block;
}
#today {
  line-height: 1.3;
}
#weather-description {
  text-transform: capitalize;
}
